#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1.shop,
h2.shop {
  margin: 40px 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 20px;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 340px;
  }
}

#toggleCart {
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  position: fixed;
  top: 30px;
  right: 30px;
}

.homepage-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.shop-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;

  .text-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

#shopDrawer {
  position: fixed;
  transform: translate(-5000px, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffe;
  border-right: 1px solid #000;

  &.active {
    transform: translate(0, 0);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 20px;
  }
}
